@media (max-width: 1200px) {
	#customer_details {
		width: 100%;
		margin-bottom: 30px;
	}

	.elementor-page .main-navigation a {
		padding: 0 10px;
	}
}
@media (max-width: 1076px ) {
	.main-navigation a {
		padding: 0 14px;
	}
	
}
@media (max-width: 1024px ) {
	.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
		width: 100%;
	}
	.elementor-page ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
		width: 100%;
	}
	.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-3 li.product {
		width: 100%;
	}
	.elementor-page ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-3 li.product {
		width: 100%;
	}
	.woocommerce-ordering {
		display: none;
	}
	.main-navigation a {
		padding: 0 10px;
	}
	.bread-spacing-bot {
		height: 100px;
	}
	.elementor .columns-3 li {
		width: 50%;
	}
	.elementor .columns-4 li {
		width: 50%;
	}
	.elementor-section.elementor-section-boxed > .elementor-container {
		padding-right: 0;
		padding-left: 0;
	}

}


@media (max-width: 991px ) {
	.footer-top {
		display: block !important;
	}
	.main-navigation ul ul {
		position: static;
		width: 100%;
	}
	.related ul li {
		width: 48% !important;
	}
	.related ul li .p-content {
		margin-bottom: 20px;
	}
	.footer-top .footer-bonus {
		max-width: 100% !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.footer-top .footer-subrice {
		max-width: 100% !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.footer-bottom .col-md-4 {
		max-width: 100% !important;
		margin: 10px 0 !important;
	}
	.footer-bottom {
		display: block !important;
		text-align: center;
	}
	.site-footer .footer-bottom .footer-social {
		text-align: center;
	}
	.main-header .main-navigation {
		margin: 0;
	}
	.search {
		display: none;
	}
	.user-btn {
		display: none;
	}
	.logo {
		margin-top: 5px;
	}
	.menu-toggle {
		float: right;
	}
	.shopping-cart {
		margin-top: 5px;
	}
	.main-header {
		position: relative;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
		margin-top: 20px;
	}

	.col-md-4 {
		max-width: 100%;
		width: 100%;
		padding-right: 0 !important;
	}
	.col-md-8 {
		max-width: 100%;
		padding-left: 0 !important;
		margin-top: 30px;
		padding-right: 0 !important;
	}
	.woocommerce .col2-set, .woocommerce-page .col2-set {
		display: block;
	}

	#primary-menu {
	    position: absolute;
	    left: 0;
	    top: 100%;
	    background: #fff;
	    width: 100%;
        box-shadow: 0 9px 6px -6px #777;
        border-left: 1px solid #e8e8e8;
	    border-right: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
        z-index: 100;
	}

	#primary-menu li a {
		color: #333 !important;
	    padding: 0 15px;
    	line-height: 45px;
    	display: block;
	}

	#primary-menu li {
		width: 100%
	}

	.main-header .site-branding {
		line-height: 0;
	}

	.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
		width: 100%;
	}
	.woocommerce .quantity .qty {
		border: 1px solid;
	}
	.quantity {
		width: auto;
	}
	.quantity .plus-btn {
		left: auto;
	}
	.elementor-col-33 {
		width: 100% !important;
		text-align: center;
	}
	.text-size {
		width: auto;
	}
	.elementor-col-25 {
		width: 100%;
		text-align: center;
	}

	.elementor-widget .elementor-icon-list-item, .elementor-widget .elementor-icon-list-item a {
		align-content: center;
		display: block !important;
	}
	.elementor-widget-wrap .elementor-element-835b0a4 {
		left: 15%;
	}
	.text-size {
		text-align: center !important;
		width: auto;
	}
	.elementor-column-wrap, .elementor-widget-wrap {
		text-align: center;
	}
	.elementor-146 .elementor-element.elementor-element-3ab6e4a > .elementor-widget-container {
		padding: 0 !important;
	}
	.elementor-146 .elementor-element.elementor-element-fa548d5 > .elementor-widget-container {
		padding: 0 !important;
	}
	.elementor-146 .elementor-element.elementor-element-17fd295 > .elementor-widget-container {
		padding: 0 !important;
	}
	.elementor-146 .elementor-element.elementor-element-ac366d0 > .elementor-widget-container {
		padding: 0 !important;
	}
	.elementor-146 .elementor-element.elementor-element-ac366d0 {
		text-align: center !important;
	}
	.elementor-146 .elementor-element.elementor-element-0f44570 {
		text-align: center !important;
	}
	.p-content {
		text-align: left;
	}
	.columns-1 .p-content {
		margin-left: 0;
	}


}
@media (max-width: 768px) {
	

}


@media (max-width: 414px) {
	.columns-2 .p-head {
		width: 100%;
	}

	.elementor .columns-3 li {
		width: 100%;
	}
	.elementor .columns-4 li {
		width: 100%;
	}
	.columns-3 .p-head {
		width: 100%;
	}
	.related ul li {
		width: 100% !important;
	}
	.columns-2 .p-content {
		width: 100%;
		padding: 0;
	}
	.columns-3 .p-content {
		width: 100%;
		padding: 0;
	}
	.columns-4 .p-content {
		width: 100%;
		padding: 0;
	}
	.shop-full {
		padding-left: 15px !important;
		padding-right: 15px !important; 
	}
	.container-fluid {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

	.p-content {
		float: none;
		padding: 0;
	}
	.elementor-page .p-content {
		float: none;
		padding: 0;
	    padding-left: 15px;
   		padding-right: 15px;
	}
	.elementor-section.elementor-section-boxed > .elementor-container {
		padding: 0;
	}
	.elementor-widget-container ul {
		padding: 0;
	}
	.onsale {
    	left: 65px;
	}
	.elementor-page .p-content {
	    padding-left: 60px;
	}

}

@media (max-width: 375px) {
	.elementor-page .p-content {
		float: none;
		padding: 0;
	    padding-left: 40px;
   		padding-right: 15px;
	}
	.onsale {
    left: 45px;
}

@media (max-width: 360px) {
	.columns-4 .p-head {
		float: none;
	}
}