@media (max-width: 1200px) {
	#customer_details {
		width: 100%;
		margin-bottom: 30px;
	}
}
@media (max-width: 1076px ) {
	.main-navigation a {
		padding: 0 14px;
	}
}
@media (max-width: 1024px ) {
	.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
		width: 100%;
	}
	.p-content {
		float: none;
		padding: 0;
	}
	.woocommerce-ordering {
		display: none;
	}
	.main-navigation a {
		padding: 0 10px;
	}
	.bread-spacing-bot {
		height: 100px;
	}

}


@media (max-width: 991px ) {
	.footer-top {
		display: block !important;
	}
	.main-navigation ul ul {
		position: static;
		width: 100%;
	}
	.related ul li {
		width: 48% !important;
	}
	.related ul li .p-content {
		margin-bottom: 20px;
	}
	.footer-top .footer-bonus {
		max-width: 100% !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.footer-top .footer-subrice {
		max-width: 100% !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.footer-bottom .col-md-4 {
		max-width: 100% !important;
		margin: 10px 0 !important;
	}
	.footer-bottom {
		display: block !important;
		text-align: center;
	}
	.site-footer .footer-bottom .footer-social {
		text-align: center;
	}
	.main-header .main-navigation {
		margin: 0;
	}
	.search {
		display: none;
	}
	.user-btn {
		display: none;
	}
	.logo {
		margin-top: 5px;
	}
	.menu-toggle {
		float: right;
	}
	.shopping-cart {
		margin-top: 5px;
	}
	.main-header {
		position: relative;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
		margin-top: 20px;
	}

	#primary-menu {
	    position: absolute;
	    left: 0;
	    top: 100%;
	    background: #fff;
	    width: 100%;
        box-shadow: 0 9px 6px -6px #777;
        border-left: 1px solid #e8e8e8;
	    border-right: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
        z-index: 100;
	}

	#primary-menu li a {
		color: #333 !important;
	    padding: 0 15px;
    	line-height: 45px;
    	display: block;
	}

	#primary-menu li {
		width: 100%
	}

	.main-header .site-branding {
		line-height: 0;
	}

	.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product {
		width: 100%;
	}
	.woocommerce .quantity .qty {
		border: 1px solid;
	}
	.quantity {
		width: auto;
	}
	.quantity .plus-btn {
		left: auto;
	}

}

@media (max-width: 414px) {
	.columns-2 .p-head {
		width: 100%;
	}
	.related ul li {
		width: 100% !important;
	}
	.columns-2 .p-content {
		width: 100%;
		padding: 0;
	}
	.shop-full {
		padding-left: 15px !important;
		padding-right: 15px !important; 
	}
	.container-fluid {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}