button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 3px;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
	}

	&:active,
	&:focus {
	}
}

.cart {
	.single_add_to_cart_button {
		background: $color-black;
		color: #fff !important;
		border-radius: 0 !important;
		height: 40px;
		margin-left: 10px !important;
	}
}

.quantity {
	position: relative;
	button {
		height: 40px;
		border: none;
		background-color: transparent;
		i {
			color: $color-gray;
			font-size: 14px;
		}
	}
	.plus-btn {
		position: absolute;
		top: 0;
		left: 0;
	}
	.minus-btn {
		position: absolute;
		top: 0;
		right : 0;
	}
}  