input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border-radius: 3px;
	padding: 3px;

	&:focus {
	}
}

select {
}

textarea {
	width: 100%;
}


.quantity {
	input {
		height: 40px !important;
		width: 110px !important;
	}
}

.woocommerce-MyAccount-content {
	.input-text {
		height: 50px;
		border: 1px solid #e8e8e8;
	}
	p {
		color: $color-black;
		font-family: $font;
		font-size: 14px;
		font-weight: $weight;

		.woocommerce-Button {
			background: $color-black;
			color: #fff;
			padding: 10px 25px;
		}
	}
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
	max-width: 100%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: none;
	padding-left: 0;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	float: none;
	padding-left: 0;
}