#colophon {
	background: $bg-header;
}
.subscribe-tit {
	color: $color-gray;
	font-family: $font;
	font-size: 24px;
	font-weight: $weight;
	margin-bottom: 0;
}

.wpb_wrapper {
	p {
		color: $color-gray;
		font-family: $font;
		font-size: 14px;
		font-weight: $weight;
	}
}

#footer-button {
	height: 50px;
	background: $color-black;
	color: $color-white;
	font-family: $font;
	font-size: 14px;
	cursor: pointer;
	margin-left: -20px;
}

#footer-mail {
	height: 50px;
	text-indent: 15px;
	width: 460px;
	border: 1px solid #e8e8e8;
}
.footer-sup {
    margin-top: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
} 
.footer-sub {     
	display: flex;     
	justify-content: space-between;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 1px solid #e8e8e8;
    padding-top: 50px;
    }
 #text-3 {     width: 41.66666667%;     float: left; }

#custom_html-2 {     padding-top: 20px; }

.site-inter {
	clear: both;
	margin-top: 30px;
}

.footer-social {
	float: right;
	padding: 0;
	margin: 0;
    margin-top: -8px;
    margin-left: 12px;
	li {
		list-style: none;
		display: inline-block;
		padding: 3px 8px;
		height: 30px;
		width: 30px;
		line-height: 27px;
		background: #fff;
		border-radius: 50%;

		&:hover {
			background: $color-black;
			i {
				color: #fff !important;
			}
		}
		a {
			i {
				color: $color-black;
			}
		}
	}
}
.star-rating {
	span {
		color: #ddaa20;
	}
}

.footer-menu {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		display: inline-block;
		a {
			font-family: $font;
			color: $color-black;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
			padding: 0 15px;
		}
	}
}

.footer-sup {
	.textwidget {
		p {
			font-family: $font;
			font-weight: $weight;
			font-size: 14px;
			color: $color-gray;
		}
	}
	.widgettitle {
		font-family: $font;
		font-size: 24px;
		font-weight: $weight;
		color: $color-black;
	}
}

.menu-menu-footer-container {
	ul { 
		padding: 0;
		li {
			display: inline-block;
			margin: 0 15px 0 0;
			a {
				text-decoration: none;
				color: $color-black;
				font-size: 14px;
				font-weight: bold;
				font-family: $font;
			}
		}
	}
}


#custom_html-2 {
    float: right;
    width: 53%;
}