.text-size {
	width: 250px;
}

.elementor-element-bd836cb  {
	.elementor-column-gap-default {
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;

		.elementor-row {
			padding: 80px 0;
		}
	}
}
