.text-324 {
	input {
	    height: 50px;
	    border: none;
	    border-bottom: 1px solid $color-black;
	    border-radius: 0;
	    margin-bottom: 15px;
	}
}
.email-403 {
	input {
	    height: 50px;
	    border: none;
	    border-bottom: 1px solid $color-black;
	    border-radius: 0;
	}
}

.textarea-583 {
	textarea {
		border: none;
	    border-bottom: 1px solid $color-black;
	    border-radius: 0;
	}
}

.btn-contact {
	color-black: $color-black;
	color: #fff;
}

.elementor-widget-wrap {
	position: relative;
	.elementor-element-835b0a4 {
	    position: absolute;
	    top: 40%;
	    left: 30%;

	}
	.elementor-element-6339b2a {
	    position: absolute;
	    top: 50%;
	    right: 42%;
	}

	.elementor-element-d942fa6 {
	    position: absolute;
	    top: 30%;
	    left: 25%;
	}
}