.woocommerce .columns-4 {
	li {
	    padding-left: 15px !important;
    	padding-right: 15px !important;
    	float: left !important;
    	margin: 0 !important;

    	img {
    		max-width: 100% !important;
    		width: auto !important;
    	}
	}
}
#content {
	padding: 70px 0;
}

#main {
    padding-right: 80px !important;
    padding-left: 80px !important;
}

.p-head {
    float: left;
    margin-right: 30px;
}

.p-content {
	float: left;
	max-width: 340px;
}

.woocommerce a.added_to_cart {
    background: $color-black;
    padding: 6px 15px;
    color: #fff;
    font-weight: bold;
}

.woocommerce-loop-product__title {
	a {
		font-family: $font;
		font-weight: $weight;
		color: $color-black;
		font-size: 20px;
	}
}

.woocommerce-Price-amount {
	font-family: $font;
	color: $color-gray;
	font-size: 24px;
	font-weight: 300 !important;
	margin-top: 20px;
}

.woocommerce-Price-currencySymbol {
	font-size: 24px;
	margin-right: 0 !important;
}
.p-content {
		.add_to_cart_button {
		background: $color-black;
		color: #fff !important;
		border-radius: 0 !important;
	}

}

.description-product {
    margin-bottom: 45px;
    font-family: $font;
    font-weight: $weight;
    font-size: 14px;
    color: $color-gray;
    margin-top: 40px;
}

.woocommerce-pagination {
	ul {
		border: none !important;
		li {
		    width: unset !important;
		    border: none !important;
		    .current {
	    	    color: red !important;
	    	    background: transparent !important;
		    }
		    a {
		    &:hover {
		    	color: red !important;
		    	background: transparent !important;
		    }

		    }
		}
	}
}

.woocommerce-MyAccount-navigation {
	ul {
		padding: 0;
		margin: 0;
		li {
		    list-style: none;
    		border-bottom: 1px solid rgba(0,0,0,.05);
			a {
				color: #96588a;
				font-size: 14px;
				font-weight: $weight;
				font-family: $font;
				text-decoration: none;
				padding: 15px 0;
				display: block;
			}
		}
	}
}

.woocommerce-MyAccount-navigation-link--dashboard a {
	&:before {
        content: "\f0e4";
		font-family: $font-awe;
		float: right;
	}
}
.woocommerce-MyAccount-navigation-link--orders a {
	&:before {
        content: "\f291";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--downloads a {
	&:before {
        content: "\f1c6";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--edit-address a {
	&:before {
        content: "\f015";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--edit-account a {
	&:before {
        content: "\f007";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--customer-logout a {
	&:before {
        content: "\f08b";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation ul li.is-active a::before {
    opacity: 1;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 60%;
}