.woocommerce .columns-4 {
	li {
	    padding-left: 15px !important;
    	padding-right: 15px !important;
    	float: left !important;
    	margin: 0 !important;

    	img {
    		max-width: 100% !important;
    		width: auto !important;
    	}
	}
}
#content {
	padding: 70px 0;
}

.p-head {
    float: left;
    position: relative;
}

.p-content {
	float: left;
}
.woocommerce-breadcrumb {
	display: none;
}
.columns-1 {
	.p-content {
		margin-left: 40px;
	}
}

.columns-2 {
	.p-head {
	    float: left;
	    width: 310px;
	    img {
	    	max-width: 310px;
	    }
	}

	.p-content {
		float: left;
	    width: calc(100% - 310px);
	    padding: 0 10px 0 30px;
	}
}
.woocommerce span.onsale {
	height: 40px;
	width: 40px;
	line-height: 40px;
	background: red;
	color: #fff;
}
.columns-7 {
	.p-head {
	    float: left;
	    width: 310px;
	    img {
	    	max-width: 310px;
	    }
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 50%;
	}
	.p-content {
		float: left;
	    width: calc(100% - 310px);
	    padding: 0 10px 0 30px;
	}
}

.p-content {
	margin-bottom: 25px;
}
.entry-title {
	font-family: $font;
	font-weight: $weight;
	color: $color-black;
	font-size: 24px;
}
.woocommerce-tabs {
	h2 {
		font-size: 18px;
		font-weight: $weight;
		font-family: $font;
	}
}
.columns-8 {
	.p-head {
	    float: left;
	    width: 310px;
	    img {
	    	max-width: 310px;
	    }
	}

	.p-content {
		float: left;
	    width: calc(100% - 310px);
	    padding: 0 10px 0 30px;
	}
}
.columns-4 .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 25%;
}
.columns-3 .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 33,3%;
}

.shop-full {
	padding-right: 80px;
	padding-left: 80px;
}
.woocommerce a.added_to_cart {
    background: $color-black;
    padding: 6px 15px;
    color: #fff;
    font-weight: bold;
}

.woocommerce-loop-product__title {
	a {
		font-family: $font;
		font-weight: $weight;
		color: $color-black;
		font-size: 20px;
	}
}

.woocommerce-Price-amount {
	font-family: $font;
	color: $color-gray;
	font-size: 24px;
	font-weight: 300 !important;
	margin-top: 20px;
}

.woocommerce-Price-currencySymbol {
	font-size: 24px;
	margin-right: 0 !important;
}
.p-content {
		.add_to_cart_button {
		background: $color-black;
		color: #fff !important;
		border-radius: 0 !important;
	    padding: .618em 1em;
	}

}
.star-rating {
	a {
	    color: #ddaa20;
	}
}

.description-product {
    margin-bottom: 30px;
    font-family: $font;
    font-weight: $weight;
    font-size: 14px;
    color: $color-gray;
    margin-top: 40px;
}

.woocommerce-pagination {
	ul {
		border: none !important;
		li {
		    width: unset !important;
		    border: none !important;
		    .current {
	    	    color: $color-black;
	    	    background: transparent !important;
		    }
		    a {
		    &:hover {
		    	color: $color-black;
		    	background: transparent !important;
		    }

		    }
		}
	}
}

.woocommerce-MyAccount-navigation {
	ul {
		padding: 0;
		margin: 0;
		li {
		    list-style: none;
    		border-bottom: 1px solid rgba(0,0,0,.05);
			a {
				color: #96588a;
				font-size: 14px;
				font-weight: $weight;
				font-family: $font;
				text-decoration: none;
				padding: 15px 0;
				display: block;
			}
		}
	}
}

.woocommerce-MyAccount-navigation-link--dashboard a {
	&:before {
        content: "\f0e4";
		font-family: $font-awe;
		float: right;
	}
}
.woocommerce-MyAccount-navigation-link--orders a {
	&:before {
        content: "\f291";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--downloads a {
	&:before {
        content: "\f1c6";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--edit-address a {
	&:before {
        content: "\f015";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--edit-account a {
	&:before {
        content: "\f007";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation-link--customer-logout a {
	&:before {
        content: "\f08b";
		font-family: $font-awe;
		float: right;
	}
}

.woocommerce-MyAccount-navigation ul li.is-active a::before {
    opacity: 1;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 60%;
}