a {

	&:visited {
	}
	&:hover,
	&:focus,
	&:active {
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
		color: #a9803c !important ;
		text-decoration: none !important;
	}
}
